<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,88}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{36,88}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{42,90}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,90}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{46,88}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,88}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{46,90}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,90}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{40,94}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{36,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{36,96}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{36,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{36,96}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{36,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{36,92}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim3.png</string>
            <key>size</key>
            <string>{50,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:875c374e9a23f38b8209c02fa7f020fc:4e90c7a7b8485b606c6aa0db5c8fc0a3:04c21f136de759000c0cdb853f54a2ff$</string>
            <key>textureFileName</key>
            <string>anim3.png</string>
        </dict>
    </dict>
</plist>
