<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,92}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{40,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{36,90}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,90}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{40,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,92}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{44,90}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,90}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{42,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{38,88}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{38,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{38,92}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim4.png</string>
            <key>size</key>
            <string>{48,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64a2ecf7080ac6f46603fa4caade855b:3999ddd4e95910d52c7a6ee97227c58a:708af3e461de8f7eab6cc19e76901e35$</string>
            <key>textureFileName</key>
            <string>anim4.png</string>
        </dict>
    </dict>
</plist>
