<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{28,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{38,94}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{44,92}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,92}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{40,94}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{34,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,96}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{32,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,96}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{38,96}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,96}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>player28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{34,94}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim2.png</string>
            <key>size</key>
            <string>{48,774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c90debc302d639e6a8c4dfd36c56854:7a131b1d2cc75ee2e1d5e0a17097886b:67f8e69dc8fc29987a9f0a880e6fa09d$</string>
            <key>textureFileName</key>
            <string>anim2.png</string>
        </dict>
    </dict>
</plist>
